/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: var(--accent);
	--text-color-link-visited: #17050f;

	--primary: black;
	--accent: #47c1b9;
	--reverse: white;

	--syntax-tab-size: 2;
}

/* Dark mode needs work*/
/* @media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
} */

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	height: 100%;
}
html {
	overflow-y: scroll;
}
body {
	display: flex;
	flex-direction: column;
}
footer {
	margin-top: auto;
	padding: 1rem 2rem;
	margin-right: 0;
	margin-left: auto;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a:hover,
a:active {
	color: var(--text-color-link-active);
}

img {
	max-width: 100%;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	max-width: 100%;
}
@media (min-width: 50em){
	header {
		flex-direction: row;
	}
}	
header>div {
	flex: 1;
	text-align: center;
}

.logo-img {
max-width: 50%;
}

.menu {
	font-size: large;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	/* 	content: "" counter(start-from, decimal-leading-zero) ". "; */
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
	padding: 0.3rem;
	margin: 0.1rem;
	background-color: var(--color-gray-50);
	transition: background-color 200ms, color 200ms, transform 200ms;
	text-decoration: none;
	border-radius: 0.2rem;
	&:hover,
	&:focus {
		background-color: var(--accent);
		color: var(--text-color);
		transform: scale(1.1);
	}
}
.postlist-item > .post-tag {
	align-self: center;
}
.container-tag-list {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 1rem;
}
/* Post metadata */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: var(--text-color-link-visited);
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* All tags list */
.all-tags-list {
	columns: 20rem;
	column-gap: 2rem;
	list-style: none;
	padding: 0;
}
.all-tags-link a {
	color: var(--textColor);
	&:hover,
	&:visited,
	&:focus {
		color: var(--accent);
	}
}
.all-tags-post-count {
	color: var(--accent);
	font-size: 0.9rem;
}

/* Pagination */
.pagination-inner {
	display: flex;
	margin-top: 3rem;
	gap: 2rem;
}

.pagination-next {
	margin-left: auto;
}

/* Social icons*/
nav ul,
ul.socials {
	padding: 0;
}
.nav-icon:hover path {
	fill: var(--accent);
}
svg.nav-icon {
	width: 100%;
	height: 30px;
}

/* Post list */
.postlist-item {
	margin-bottom: 2rem;
	box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.301);
}
 .post-metadata {
	margin: 0 auto;
	max-width: 110ch;
	padding: 1rem;
}
.postlist {
	max-width: 90ch;
	margin: 0 auto;
}

/* Posts */
.postlist-item > picture > img {
  	max-height: 300px;
  	object-fit: cover;
}
.cover-img-large > picture > img {
	object-fit: cover;
	height: 20rem;
	width: 100%;
}
@media (min-width: 50rem) {
	.cover-img-large > picture > img {
		height: 30rem;
	}
}
.post-content {
	margin-top: -120px;
	position: relative;
}
/* Content */
.content {
	max-width: 90ch;
	margin: 0 auto;
	padding: 1rem 2rem;
	background-color: var(--background-color); 
}
article img {
	height: auto;
}

/* Author pages*/ 
.author-photo {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

/* Homepage */
.home-grid {
	display: grid;
}
.split {
	display: flex;
	flex-direction: column;
	margin:0;
	max-width: 100%;
}
.split > * {
	flex-basis: 100%;
}
.split-content {
	margin: auto;
	padding: 3rem 2rem;
}
@media (min-width: 50em){
	.split {
		flex-direction: row;
	}
	.split-content {
		text-align: left;
	}
}

.overlay-container {
	position: relative;
	text-align: center;
}

.overlay-container > picture > img {
	height: auto;
	margin: -2px auto -2px auto;
}

.text-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	text-shadow: 0 5px 10px black;
	color: white;
	font-size: 2em;
}
a.text-overlay {
	color: white;
	&:visited {
	color: white;
	}
	&:hover {
	color: var(--accent)
	}
	&:not(:hover) {
		text-decoration: none;
	}
}
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 20rem;
}
@media (min-width: 50em) {
	.parallax {
		height: 30rem;
	}
}
.parallax span {
font-size: 3.5em;
text-transform: uppercase
}
.centered {
	text-align: center;
}

