---
layout: layouts/postlisting.njk
pagination:
  data: authors
  size: 1
  alias: author
eleventyComputed:
  title: "{{ author.name }}"
permalink: /authors/{{ author.key | slugify}}/
---
<div class="content">
  <img src="{{ author.photo }}" class="author-photo">
  {{ author.name }} {{ author.bio }}
  <p>Read posts by {{ author.name }}</p>
</div> 

{% set postslist = collections.posts | authorFilter( author.name ) | reverse%}
{% include "postslist.njk" %}