---
layout: layouts/page.njk
eleventyComputed:
  title: Category "{{ eleventyNavigation.key}}"
eleventyNavigation:
  key: Case studies
  order: 4
---

{% set postslist = collections.posts | categoryFilter( eleventyNavigation.key.toLowerCase() ) | reverse%}
{% include "postslist.njk" %}
