---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: '{% if pagination.pageNumber > 0 %}blog/page/{{ pagination.pageNumber }}{% endif %}/index.html'
---
{% set imgUrl %}{{ "/img/waves.jpeg" | url}}{% endset %}
<div class="single-column parallax overlay-container" id="parallax-waves" style="background-image: url({{imgUrl}});"></div>

  <div class="single-column content">
    <p>Adaptive Movement is a blog exploring the topics of skill acquisition and movement education.</p>
    <p>It is targeted to coaches, teachers, practitioners and sport science students.</p>
    <div class="centered"><img eleventy:ignore id="small-logo" src="/img/transparent-logo-small.png" alt="Small logo" height="60px"></div>
    <p class="centered">The blog is divided intro three categories:</p>
  </div>
  
  <div class="split">
    <div class="overlay-container">
      <img src="../public/img/category-theory.png" alt="Picture of a blackboard with equations">
      <a href="/theory/" class="text-overlay">Theory</a>
    </div>
    <div class="overlay-container">
      <img src="../public/img/category-how-to.png" alt="Picture of a tennis player">
      <a href="/theory/" class="text-overlay">How-to</a>
    </div>
    <div class="overlay-container"> 
      <img src="../public/img/category-case-studies.png" alt="Picture of a football field">
      <a href="/theory/" class="text-overlay">Case studies</a>
    </div>
  </div>

  <div class="single-column content">
    <p>In our <a href="/theory/">theory</a> articles, we focus on the ecological-dynamics framework. These theories challenge some traditional assumptions about skill acquisition and motor learning. They also might help you understand better why you do what you do.</p>
    <p>Our <a href="/how-to/">how-to</a> articles offer a more practical approach, and are meant to develop sound, evidence-based coaching principles, while also aiming to spark creative and novel solutions.</p>
    <p>Finally, we also examine <a href="/case-studies/">case studies</a> from different sport, physical activities or coaching methods, from the perspective of ecological-dynamics. What can we learn from these cases? Could they be improved?</p>
  </div>

  {% set imgUrl %}{{ "/img/dynamical-systems.jpeg" | url}}{% endset %}
  <div class="single-column parallax overlay-container" id="parallax-dynamical" style="background-image: url({{imgUrl}});"><span class="text-overlay">What is ecological-dynamics ?</span>
  </div>

  <div class="split">
    <div>  <img id="flowchart" src="/img/flowchart.png" alt="Flow chart of the main concepts of the website"></div>
    <div class="split-content">
      <p><a href="/blog/introduction-to-ecological-dynamics/">Ecological Dynamics</a> studies human behaviour in the real world. We take off our lab coat and look at the way skill acquisition and perception works within the context that we find ourselves in on a daily basis.</p>
      <p>We take into consideration the interactions between our bodies, our environment, our abilities, experiences and intentions.</p>
    </div>
  </div>

  <div class="split">
    {% for post in collections.posts | reverse %}
    {% if (loop.index <= 3) and (3 <= loop.length) %}

    <div class="overlay-container">
      {% set imgUrl %}./{{ post.url }}//{{post.data.coverImage}}{% endset %}
      <img src="{{ imgUrl }}" alt="Cover picture">
      <a href="{{ post.url }}" class="home-post text-overlay">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %} </a>
    </div>

    {% endif %}
    {% endfor %}
  </div>