---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/postlisting.njk
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: Tagged "{{ tag }}"
---
{{tag}}
{% set postslist = collections[ tag ] | reverse%}
{% include "postslist.njk" %}

<p>See all <a href="/tags/">tags</a>.</p>